[v-cloak] {
  display: none
}

.app-body {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding-top: 62px;
}

.main-body {
  height: calc(100% - 62px);
  overflow: hidden;
  min-height: 300px;

  .el-scrollbar__wrap {
    overflow-x: auto;
    overflow-y: scroll;
  }
}

.app-content-view {
  padding-left: 15px;
  padding-right: 15px;
}

.main-header, .sub-menu {
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.body_scroll {
  height: 100%;
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }

  .el-scrollbar__wrap {
    overflow-x: auto;
    overflow-y: scroll;
  }
}

.full-width .container {
  width: auto;
  //margin-left: 15px;
  //margin-right: 15px;
}

.full-width .container.d-table {
  width: calc(100% - 30px);
}

.full-width .container .container {
  margin-left: 0;
  margin-right: 0;
}



.sub-menu {
  background: #eee;
}

.search-left-box {
  padding: 5px;
}

.page-main-body {
  font-size: 14px;
  .el-row {
    margin-bottom: 10px;
    line-height: 20px;
  }
  .order-list-item {
    .el-row {
      margin-bottom: 0;
    }
  }
}

// 二级菜单样式
.sub-menu {
  padding: 5px 0;
  .btn-sub-menu {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    &.active, &:hover {
      background: $activeColor;
      color: $activeColorFont;
    }
  }
}

// 加载中背景无色
.loading-rotation {
  .el-loading-mask {
    background-color: transparent;
  }
}

// 滚动容器
.d-table-col-wrap {
  //overflow: hidden;
  //.el-scrollbar__wrap {
  //  overflow: hidden;
  //  overflow-y: auto;
  //}
  overflow: hidden;
  overflow-y: auto;
}

// 下拉组件长度
.el-select {
  display: block;
  position: relative;
}

// 日期组件长度
.el-date-editor.el-input {
  width: 100%;
}

// 瀑布流排列信息
.waterfall-part {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  >.el-col-12 {
    float: none;
    width: auto;
    break-inside: avoid;
  }
}

.oms-col {
  padding-bottom: 5px;
}

// 穿梭框
.transfer-list-two .el-transfer-panel {
  width: 320px;
  height: 360px;
  .el-transfer-panel__list.is-filterable {
    height: 240px;
  }
  .el-transfer-panel__filter .el-input__inner {
    height: 30px;
  }
}

.search-no-border {
  cursor: pointer;
  &:hover {
    color: $activeColor;
  }
}

.search-input.el-input {
  .el-input__inner {
    width: 420px;
  }
}

.tiny-timeline {
  .tiny-timeline-content {
    display: flex;
    align-items: center;
    padding-top: 3px;
  }
}
