
//2.0变化

.app-body {

  // 滚动条
  .el-scrollbar__bar {
    opacity: 1;
  }

  .el-scrollbar__wrap {
    overflow: auto;
  }

  .warehouse-tree {
    .el-collapse-item__arrow {
      float: left;
    }
  }
  .el-table thead {
    color: #1f323d;
  }

  .el-table td, .el-table th {
    padding: 4px 0;
  }
  .el-tag {
    padding: 0 5px;
    height: 22px;
    line-height: 22px;
  }
  .el-tag--small {
    height: 24px;
    padding: 0 8px;
    line-height: 22px;
    color: #00BFFF
  }
  .el-button {
    padding: 10px 15px;
  }
  .el-button--mini, .el-button--mini.is-round {
    padding: 7px 15px;
  }
  .el-input__inner {
    height: 36px;
  }
  a:focus {
    outline: none;
  }
  .el-date-editor--datetimerange.el-input__inner, .el-date-editor--daterange.el-input__inner {
    width: auto;
  }
  .el-date-editor--daterange {
    max-width: 320px;
  }
  .el-pagination {
    margin-top: 8px;
  }
}

:focus {
  outline: none;
}

.el-button-group {
  > span:last-child > .el-button:last-child, > .el-button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  > span:first-child > .el-button:first-child, > .el-button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .el-button:first-child:last-child {
    margin-left: -1px;
    border-radius: 0;
  }
  .el-button.el-button--checkbox {
    padding: 4px 10px 3px 10px;
    border-radius: 0;
    .el-checkbox__label {
      font-size: 12px;
    }
  }
}
