.form-header-part {
  padding: 0 10px;
  .header {
    line-height: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    .sign {
      width: 4px;
      background: $activeColor;
      height: 100%;
    }
    .tit {
      margin: 0 0 0 10px;
      &.active {
        color: $activeColor
      }
    }
  }
}

// 折行
.acrony-my {
  .el-form-item__label {
    line-height: 20px;
  }
}

.opera-btn-group {

  border: 2px solid #eeeeee;
  margin: 10px -5px;
  .opera-icon {
    line-height: 50px;
    height: 50px;
    padding: 0 10px;
    border-bottom: 2px solid #eeeeee;
  }
  .switching-icon {
    cursor: pointer;
    .el-icon-arrow-up {
      transition: all .5s ease-in-out;
    }
  }
  &.up {
    .advanced-query-form {
      display: none;
    }
    .opera-icon {
      border-bottom: 0;
    }
    .el-icon-arrow-up {
      transform: rotate(180deg);
    }
  }
}
