.amap-marker-label {
  border-color: #0000ff;
  &.active {
    border-color: red;
  }

  cursor: pointer;
}

#taskMap, #bigTaskMap {
  .amap-marker-label {
    border-color: #ddd;
    background: transparent;
    &:hover {
      background: #fff;
    }
  }
}

.map-path {
  .amap-marker-label {
    font-size: 13px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 6px 6px 6px 6px;
    color: $activeColor;
    line-height: 130%;
  }
}
