.amap-marker-label {
  border-color: #0000ff;
  &.active {
    border-color: red;
  }

  cursor: pointer;
}

#taskMap, #bigTaskMap {
  .amap-marker-label {
    border-color: #ddd;
    background: transparent;
    .babel__container {
      padding: 4px;
      position: relative;
      .bg, .title {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .bg {
        background: #fff;
        opacity: 0.6;
      }
      &:hover {
        .bg {
          opacity: 1;
        }
      }
    }
  }
}

.map-path {
  .amap-marker-label {
    font-size: 13px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 6px 6px 6px 6px;
    color: $activeColor;
    line-height: 130%;
  }
}
