.amap-marker-label {
  border-color: #0000ff;

  &.active {
    color: red;
  }

  cursor: pointer;
}

#taskMap, #bigTaskMap, #taskMapMultiple, #aMap {
  .amap-marker-label {
    background: transparent;
    border-color: transparent;

    .babel__container {
      padding: 4px;
      position: relative;
      border-color: #ddd;

      .bg, .title {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .bg {
        background: #fff;
        opacity: 0.6;
      }

      &:hover {
        .bg {
          opacity: 1;
        }
      }
    }
  }
}

.map-path {
  .amap-marker-label {
    font-size: 13px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 6px 6px 6px 6px;
    color: $activeColor;
    line-height: 130%;
  }
}

$lbg: rgba(0, 0, 0, 0.5);
#vehicleMap {
  .amap-marker-label {
    position: relative;
    border: 0;
    border-radius: 4px;
    background: $lbg;
    color: #fff;

    .arraw {
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-right-color: $lbg;
      position: absolute;
      left: -16px;
      top: 10px;
    }

    .item {
      padding: 2px 4px;
    }
  }
}

#mapBigPath {
  .amap-marker-label {
    background: $lbg;
    border: 0;

    .marker-title {
      color: #fff;

      .title {
        margin-left: 15px;
      }
    }
  }
}

#bigTaskMap {
  .amap-marker-label {
    background: transparent;
    border-color: transparent;

    .marker-title {
      color: #fff;
      background: $lbg;
      padding: 4px;
      border-radius: 4px;

      .title {
        margin-left: 15px;
      }
    }


    .babel__container {
      &.is-big {
        .bg {
          background: #fff;
          opacity: 0.6;
        }

        &:hover {
          .bg {
            opacity: 1;
          }
        }
      }
    }
  }
}
