$color: #ffffff;
.m-tooltip {
  position: relative;
  max-width: 500px;
  min-width: 150px;
  width: auto;
  padding: 10px;
  margin-left: 30px;
  color: $color;
  font-size: 12px;
  background-color: #fffcef;
  border: 1px solid $color;
  box-shadow: 0 1px 3px #ccc;
  border-radius: 2px;
}

.m-tooltip:after, .m-tooltip:before {
  top: 10%;
  width: 0;
  height: 0;
  position: absolute;
  content: ' ';
  border: 10px solid transparent;
}

.m-tooltip:after {
  left: -18px;
  border-right-color: #fffcef;
}

.m-tooltip:before {
  left: -20px;
  border-right-color: $color;
}
